html,
body {
    height: 100%;
    width: 100%;
}
/*------------------------------------------NAV BAR-------------------------------------------*/
.logo-img{
    position: relative;
    top:0;
    width: 150px;
    height: auto;
}
.navbar {
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0));
    border-color: transparent;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
 }

.nav-item{
    color: white;
    opacity: 0.6;
    margin-right: 30px;
}
.navbar-nav{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-brand{
    width: 200px;
    margin-left: 20px;
    margin-right: 0px;
}
.book-your-stay{
    padding: 10px;
}
.navbar-container{
    display: flex;
    justify-content: center;
}
.spacing{
    width:50px;
}
.navbar-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
}
.bread-row{
    position: absolute;
    top: 5px;
}
.breadcrumb{
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
    margin-left: 6px;
    font-style: italic;
    font-size: 13px;
}
.breadcrumb-item{
    color: rgba(255, 255, 255, 0.7);
}
.btn{
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-color: transparent;
}
.btn:hover{
    background: transparent;
    color: #f39c12;
}
.btn:active{
    background-color: rgba(0, 0, 0, 0.6);
    color: #f39c12;
}
.btn:focus{
    background-color: rgba(0, 0, 0, 0.6);
    color: #f39c12;
    box-shadow: none !important;
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;    
    width: 500px;
    height: auto;
    left: auto;
    right: 0;
}
.dropdown-label{
    color: rgba(255, 255, 255, 0.7);
}
.form-control, .form-control:focus{
    background: transparent;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.7);
}
.active{
    color: #f39c12 !important;
}
/*------------------------------------------NAV BAR-------------------------------------------*/
/*------------------------------------------CAROUSEL-------------------------------------------*/

.carousel-inner{
    overflow: hidden;
    width: 100%
}
.d-block > .w-100 {
    max-width: 100%;
}
#carousel, .carousel-inner{
    height: 800px;
}
/*------------------------------------------CAROUSEL-------------------------------------------*/
/*------------------------------------------INTRO CONTENT-------------------------------------------*/

.section-content{
    padding: 80px 0px;
}
/*------------------------------------------INTRO CONTENT-------------------------------------------*/
/*------------------------------------------FOOTER-------------------------------------------*/

.main-footer{
    width: 100%;
    background-color: #212121;
    padding: 20px;
}
.p-2{
    color: white;
    font-size: 12px;
}
.ftext{
    padding-top: 30px !important;
    padding-right: 20px !important;
    opacity: 0.7 !important;
}
a:hover{
    color: #f39c12 !important;
    text-decoration: none;
}
.footer-icon{
    height: 20px;
    width: 20px;
}
.logo-footer{
    padding: 0px;
    margin-bottom: 0px;
}

/*------------------------------------------FOOTER-------------------------------------------*/
/*=====================================================================================================
=======================================================================================================
===========================ACCOMODATION PAGE===========================================================*/
.secondary-image{
    height: 800px;
    width:100%;
    filter: brightness(80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-text-container{
    position: absolute;
    top: 600px;
    z-index: 2;
    color: white;
    width: 100%;
}
.secondary-cards{
    margin: 5px 50px;
}
.col-4, .col-8{
    height: 400px;
}
.card-img{
    filter: brightness(100%);
    object-fit: cover;
    padding: 0.1px;
}
.card-img-overlay{
    padding: 40px 30px;
    color: white;
    opacity: 0.8;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7));
}
.card-img-overlay:hover{   
    color: white;
    opacity: 1;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

/*---------------------------------------------------------------------------------------------------------------------
=======================================================================================================================
=================================================TERTIARY PAGE=========================================================*/
.room-container{
    width: 100%;
    height: auto;
    padding: 30px 50px;
}

.services-list{
    list-style: none;
    text-align: left;
    padding: 30px 10px 30px 100px;
}


